@page
@model BookStore_TruongMinhHoang.Pages.Admin.AuthorPage.DetailsModel

@{
    ViewData["Title"] = "Author Details";
}

<div class="container mt-5">
    <h1 class="text-center">Author Details</h1>
    <hr />

    <div class="card shadow">
        <div class="card-header">
            <h5 class="mb-0">Author Information</h5>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Author.FirstName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Author.FirstName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Author.LastName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Author.LastName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Author.Biography)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Author.Biography)
                </dd>
            </dl>
        </div>
    </div>

    <div class="mt-3 text-center">
        <a asp-page="./Edit" asp-route-id="@Model.Author.AuthorId" class="btn btn-primary">Edit</a>
        <a asp-page="./Index" class="btn btn-outline-secondary">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
